/* .card {
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.img{
  width: 212px;
  height: 212px;
  border-radius: 20px;
}

button {
  color: black;
  border: none;
  text-align: center;
  width: 150px;
  font-size: 18px;
  border-radius: 50px;
}

.glav{
  display:flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.App h3{
  margin-left: 110px;
  font-size: 22px;
} */