*{
  padding: 0px;
  margin: 0px;
}

.App-header {
  background-color: black;
  color: white;
}
.header-logo{
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.glav{
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 700px;
}